html{
  padding: 0em 1em 0em 1em;
  font-family: 'merriweather', serif;
}
body{
  margin: -1em;
  padding: -1em;
  font-family: 'Baskerville', serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}
h1 {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  margin: 0em 0em .5em 0em;
}
header{
  background-color: #d76826;
  text-align: center;
  padding: 1em 0em 0em 0em;

}
.grain-left {
  float: left;
  width: 20%;
}
.grain-right {
  float: right;
  width: 20%;
}
nav a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #9a3f09;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: #d76826;
  margin: 0;

}
nav a:hover {
  background-color: #9a3f09;
  border: 1px solid #9a3f09;
}
  nav li {
    display: inline;

  }
  nav ol {
    list-style-type: none;
    padding: 0;
  }
h2{
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  margin: 0em 0em .5em 0em;
  display: block;

}
.grains {
  float: left;
  width: 40%;
  margin: 0 .5em .25em 0em;
}
main{
  padding: 0em 1em 0em 1em;
}
.famous {
  background-color: #f29b37;
  text-align: center;
  margin: 0em 0em 0em 0em;
  padding: 0;
}
.cereals{
  float: right;
  width: 40%;
  margin: 1em 0em 0em .5em;
}
.quinoa{
  float: right;
  width: 40%;
  clear: right;
  margin: 1em 0em 1em .5em;
}
.corn{
  float: center;
  width: 100%;
  clear: center;
}
.rice{
  float: left;
  width: 50%;
}
.oats{
  float: right;
  width: 50%;

}
figcaption{
  color: #FFFFFF;
  font-style: italic;
  clear: both;
  text-align: center;
}
figure{
  margin-bottom: 0;
  margin: 0;
}

.Rice {
  color: #FFFFFF;
  padding: 0em 6em 1em 0em;
  font-style: italic;
}
.Oats {
  color: #FFFFFF;
  font-style: italic;
}
h3{
  font-size: 1.50em;
  display: inline-block;
  padding: 0 0 0 2.2em;
  margin: 1em 0em 0em 0em;
}
.peanuts{
  width: 20%;

}
.beans{
  width: 20%;
}
.lentils{
  width: 20%;
}
dl{
  padding-left: 90px;
  position: relative;
  margin: 1em 0em 1em 1em;

}
dt {
  font-style: italic;
  font-size: 1em;
  margin: 0em 0em 2.5em 0em;

}
dl img{
  position: absolute;
  left: 0;
  float: left;

}
.footer{
  background: #d76826;
  text-align: center;
  color: #FFE6E6;
  font-size: .75em;
  padding: 1em 0em 1.5em 0em;

}
