body{
  margin: 0;
  font-family: 'Baskerville', serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}
h1 {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  margin: 0em 0em .5em 0em;
}
header{
  background-color: #d76826;
  text-align: center;

}
.grain-left {
  float: left;
  width: 20%;
}
.grain-right {
  float: right;
  width: 20%;
}
nav a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #9a3f09;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: #d76826;
  margin: 0;

}
nav a:hover {
  background-color: #9a3f09;
  border: 1px solid #9a3f09;
}
  nav li {
    display: inline;

  }
  nav ol {
    list-style-type: none;
    padding: 0;
  }
div {
  background-color: #f29b37;
  text-align: center
}
h2{
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  margin: 0em 0em .5em 0em;

}
.grains {
  float: left;
  width: 30%;
}
main{
  padding: 0em 1em 0em 1em;
}
.cereals{
  float: right;
  width: 30%;
}
.quinoa{
  float: right;
  width: 30%;
}
