body{
  margin: 0;
}

*, *::before, *::after{
  box-sizing: inherit;
}
h1 {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  margin: 0em 0em .5em 0em;
}
header{
  background-color: #d76826;
  text-align: center;

}
.grain-left {
  float: left;
  width: 20%;
}
.grain-right {
  float: right;
  width: 20%;
}
nav a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  border: 3px solid #808080;
  padding: 0.5em 0.5em;
  background-color: #808080;

}
nav a:hover {
  background-color: #000000;
  border: 3px solid #000000;
}
  nav li {
    display: inline;

  }
  nav ol {
    list-style-type: none;
    padding: 0;
  }
